<div class="page">
  <h1 class="page-title">Transaction History</h1>

  <div class="history-card" *ngFor="let tx of transactions">
    <!-- show only SUCCESS -->
    <ng-container *ngIf="tx.status === 'SUCCESS'">
      <div>
        <div class="name">
          {{
            tx.fromAccountId === userName
              ? 'Transfer to ' + tx.toAccountId
              : 'Received from ' + tx.fromAccountId
          }}
        </div>
        <div class="meta">Today</div>
      </div>

      <div
        class="amount"
        [class.sent]="tx.fromAccountId === userName"
        [class.received]="tx.toAccountId === userName"
      >
        {{
          tx.fromAccountId === userName
            ? '-' + '₹' + tx.amount
            : '+' + '₹' + tx.amount
        }}
      </div>
    </ng-container>
  </div>
</div>